### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Personalized Files
libraries_installed.txt